<div class="container">

    <div class="row pt-4">
        <div class="col">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-outline-primary" th:href="@{/guide/division/add/form}">Добавить подструктуру</a>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item active text-center" aria-current="true"><span class="fs-4">Подструктуры</span></li>
                <li class="list-group-item" th:each="d, stat : ${divisionList}">
                    <div class="row">
                        <div class="col">
                            <b><p th:text="${d.number} + '. ' + ${d.title}"></p></b>
                        </div>
                        <div class="col-3">
                            <div class="btn-group float-end" role="group" aria-label="Basic example">
                                <!--<button type="button" class="btn btn-outline-primary"><i class="bi bi-postcard"></i></button>-->
                                <a class="btn btn-outline-primary" th:href="@{/guide/division/edit/page(division=${d.id})}"><i class="bi bi-pencil"></i></a>
                                <button th:id="'del-btn-' + ${d.id}" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deleteDivision-">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                            <script th:inline="javascript">
                                document.getElementById('del-btn-' + [[${d.id}]]).setAttribute('data-bs-target','#deleteDivision-' + [[${d.id}]]);
                            </script>
                            <div class="modal fade" th:id="'deleteDivision-' + ${d.id}" tabindex="-1" aria-labelledby="deleteDivisionLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Внимание! Удаление!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы собираетесь удалить запись подструктуры <b><span th:text="${d.title}"></span></b> из справочника! Вы уверены?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                            <a class="btn btn-danger" th:href="@{/guide/division/delete(division=${d.id})}">Подтвердить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>