<form class="container" th:method="POST" th:action="@{/guide/division/edit}" th:object="${division}">
    <input type="number" th:field="*{id}" hidden>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="row pt-4">
                <p class="text-center fs-3 text-dark">Редактировать подструктуру</p>
            </div>
            <div class="row pt-4 border-start border-4 border-dark">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="departmentId" th:field="*{departmentId}">
                            <option th:each="department, stat : ${departmentList}" th:value="${department.id}" th:text="${department.title}"></option>
                        </select>
                        <label for="departmentId">Структура</label>
                    </div>
                </div>
            </div>
            <div class="row pt-4 border-start border-4 border-dark">
                <div class="col">
                    <div class="form-floating" th:if="${#fields.hasErrors('title')} != true">
                        <input type="text" class="form-control" id="title" placeholder="title" th:field="*{title}">
                        <label for="title">Название</label>
                    </div>
                    <div class="form-floating" th:if="${#fields.hasErrors('title')}">
                        <input type="text" class="form-control is-invalid" id="title-error" placeholder="title-error"
                               th:field="*{title}">
                        <label for="title-error">Название</label>
                        <small class="text-center text-danger" th:errors="*{title}"></small>
                    </div>
                </div>
            </div>
            <div class="row pt-4 border-start border-4 border-dark">
                <div class="col">
                    <div class="form-floating" th:if="${#fields.hasErrors('description')} != true">
                        <input type="text" class="form-control" id="description" placeholder="description"
                               th:field="*{description}">
                        <label for="description">Короткое описание</label>
                    </div>
                    <div class="form-floating" th:if="${#fields.hasErrors('description')}">
                        <input type="text" class="form-control is-invalid" id="description-error"
                               placeholder="description-error" th:field="*{description}">
                        <label for="description-error">Короткое описание</label>
                        <small class="text-center text-danger" th:errors="*{description}"></small>
                    </div>
                </div>
            </div>

            <div class="row pt-4 border-start border-4 border-dark">
                <div class="col">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-dark" type="submit">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</form>
