<div class="container-fluid my-5">
    <div class="row py-2">
        <div class="col">
            <h3 class="text-center">Справочник ФЦПСР</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button th:each="department, dps : ${guide.departments}" th:text="${department.title}" th:id="'btn-dep-' + ${dps.index}" th:my-data="${department.id}" class="btn btn-sm btn-outline-secondary department text-start" type="button" onclick="selectDepartment(this.id)"></button>
                        <script>
                            document.getElementById('btn-dep-0').setAttribute('class',"btn btn-sm btn-secondary department text-start")
                        </script>
                    </div>
                    <div class="row" th:if="${admin}">
                        <div class="col mt-2 d-flex">
                            <div class="btn-group mx-auto" role="group">
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-plus-square"></i></button>
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div th:if="${guide.getDepartments().size()} != 0">
                        <div class="d-grid gap-2" id="division-grid">
                            <button th:each="division, dvs : ${guide.departments[0].divisions}" th:text="${division.title}" th:id="'btn-div-0-' + ${dvs.index}" th:my-data="${division.id}" class="btn btn-sm btn-outline-secondary department text-start" type="button" onclick="selectDivision(this.id)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col border border-dark img-bg rounded-3 me-4 position-relative">
            <div class="row">

                <div class="col">
                    <div id="guide-card-col" class="mb-5 pb-3">
                        <div th:if="${guide.getDepartments().size()} != 0">
                            <div th:if="${guide.departments[0].employees.size()} != 0">
                                <div class="card mx-1 my-3">
                                    <div class="row rounded-4 shadow m-2" th:each="employee : ${guide.departments[0].employees}">
                                        <div class="col m-0 p-1 my-auto">
                                            <div class="m-0 p-1">
                                                <b><p class="m-0 p-0 ps-2" th:text="${employee.fullName}"></p></b>
                                            </div>
                                        </div>
                                        <div class="col m-0 p-1 my-auto">
                                            <div class="m-0 p-1">
                                                <p class="m-0 p-0 text-center" th:text="${employee.position}"></p>
                                            </div>
                                        </div>
                                        <div class="col m-0 p-1 my-auto">
                                            <div class="m-0 p-1">
                                                <p class="m-0 p-0 text-center" th:text="${employee.email}"></p>
                                            </div>
                                        </div>
                                        <div class="col-2 m-0 p-1 my-auto">
                                            <div class="m-0 p-1 d-flex">
                                                <p class="m-0 p-0 pe-2 text-center ms-auto" th:text="'телефон: ' + ${employee.phone}"></p>
                                            </div>
                                        </div>
                                        <div class="col border-start d-flex" th:if="${admin}">
                                            <div class="btn-group m-auto" role="group" aria-label="Basic outlined example">
                                                <button type="button" th:id="'pin-out-' + ${employee.id}" class="btn btn-outline-secondary" onclick="pinOut(this.id)"><i class="bi bi-pin-angle"></i></button>
                                                <button type="button" th:id="'edit-' + ${employee.id}" class="btn btn-outline-secondary" onclick="editEmployee(this.id)"><i class="bi bi-pencil"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="position-absolute bottom-0 end-0 rounded-4 border m-3">
                <button type="button" class="btn btn-outline-secondary rounded-circle shadow m-1" data-bs-toggle="modal" data-bs-target="#person-modal" th:if="${admin}"><i class="bi bi-person-add"></i></button>
                <div class="modal fade" id="person-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <form id="person-modal-form" class="modal-content" novalidate>
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить сотрудника</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row pt-3">
                                    <div class="col">
                                        <input type="text" id="search-free-employees" class="form-control" list="free-employee-list" oninput="searchFreeEmployees()">
                                        <datalist id="free-employee-list"></datalist>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-outline-secondary w-100" onclick="setupEmployee()">Добавить</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="number" placeholder="number" required>
                                            <label for="number">№</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите п/н
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="lastname" placeholder="lastname" required>
                                            <label for="lastname">Фамилия</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите фамилию
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="name" required>
                                            <label for="name">Имя</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите имя
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="middleName" placeholder="middleName" required>
                                            <label for="middleName">Отчество</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите отчество
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="location" placeholder="location" required>
                                            <label for="location">Расположение</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите расположение
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="office" placeholder="office" required>
                                            <label for="office">Кабинет</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите кабинет
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="short-number" placeholder="short-number" required>
                                            <label for="short-number">Короткий номер</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите короткий номер
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="position" placeholder="position" required>
                                            <label for="position">Должность</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите должность
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="email" required>
                                            <label for="email">@Mail</label>
                                            <div class="valid-feedback">
                                                Все хорошо
                                            </div>
                                            <div class="invalid-feedback">
                                                Укажите почту
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-outline-success" onclick="sendEmployeeData(null)">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = document.getElementById('person-modal');

    modal.addEventListener('hidden.bs.modal', function () {
        const form = document.getElementById('person-modal-form');
        form.reset();
        form.classList.remove('was-validated');
    });
</script>

<script th:inline="javascript">
    let departments = [[${guide}]].departments;
    let admin = [[${admin}]];
    function selectDepartment(buttonId){
        let data = buttonId.split('-');
        let id = data[data.length - 1];
        let department = departments[id];
        let divisions = department.divisions;

        let activeButtons = document.querySelectorAll('.department');
        activeButtons.forEach(function(button) {
            button.setAttribute('class', 'btn btn-sm btn-outline-secondary department text-start');
        });

        let selectedButton = document.getElementById(buttonId);
        selectedButton.setAttribute('class','btn btn-sm btn-secondary department text-start');

        let count = 0;
        $('#division-grid').empty();
        divisions.forEach(function (division){
            $('#division-grid').append(
                '<button id="btn-div-' + id + '-' + count + '" my-data="' + division.id + '" class="btn btn-sm btn-outline-secondary division text-start" type="button" onclick="selectDivision(this.id)">' + division.title + '</button>'
            );
            count++;
        });

        $('#guide-card-col').empty();
        department.employees.forEach(function (employee){
            employeeAppend(employee);
        });
    }

    function selectDivision(buttonId){
        let parts = buttonId.split('-');
        let departmentId = parts[parts.length-2];
        let divisionId = parts[parts.length-1];
        let department = departments[departmentId];
        let division = department.divisions[divisionId];

        let activeButtons = document.querySelectorAll('.division');
        activeButtons.forEach(function(button) {
            button.setAttribute('class', 'btn btn-sm btn-outline-secondary division text-start');
        });

        let selectedButton = document.getElementById(buttonId);
        selectedButton.setAttribute('class','btn btn-sm btn-secondary division text-start');

        $('#guide-card-col').empty();
        division.employees.forEach(function (employee){
            employeeAppend(employee);
        });
    }

    function sendEmployeeData(employeeData){
        let structData = getCurrentSelectedData();

        let request = null;

        if(employeeData != null){
            request = {
                id: employeeData.id,
                number: employeeData.number,
                lastname: employeeData.lastname,
                name: employeeData.name,
                middleName: employeeData.middleName,
                location: employeeData.address,
                office: employeeData.cabinet,
                shortNumber: employeeData.phone,
                position: employeeData.position,
                email: employeeData.email,
                department: structData.departmentId,
                division: structData.divisionId
            }
        }else {

            const form = document.getElementById('person-modal-form');
            if (!form.checkValidity()) {
                // Пометить неверные поля как invalid
                form.classList.add('was-validated');
                return;
            }

            request = {
                id: 0,
                number: $('#number').val(),
                lastname: $('#lastname').val(),
                name: $('#name').val(),
                middleName: $('#middleName').val(),
                location: $('#location').val(),
                office: $('#office').val(),
                shortNumber: $('#short-number').val(),
                position: $('#position').val(),
                email: $('#email').val(),
                department: structData.departmentId,
                division: structData.divisionId
            }
        }

        let csrf = [[${_csrf}]];
        let header = csrf.headerName;
        let token = csrf.token;

        $.ajax({
            url: '/api/add/employee',
            method:'POST',
            data: JSON.stringify(request),
            contentType:'application/json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (response){
                if(request.division != 0){
                    departments[structData.departmentIndex].divisions[structData.divisionIndex].employees.push(response);
                }else{
                    departments[structData.departmentIndex].employees.push(response);
                }
                employeeAppend(response);
                $('#person-modal').modal('hide');
            }
        });

    }

    function searchFreeEmployees(){
        let query = $('#search-free-employees').val();
        $.ajax({
            url:'/api/search/free/employees',
            type:'get',
            data: {
                query: query
            },
            success: function (response){
                let datalist = $('#free-employee-list');
                datalist.empty();
                response.forEach(function (employee){
                    datalist.append(
                        '<option value="' + employee.fullName + '" my-data="' + JSON.stringify(employee).replace(/"/g, '&quot;') + '"></option>'
                    );
                });
            }
        });
    }

    function setupEmployee(){
        let employeeSearch = document.getElementById('search-free-employees').value;
        let dataList = document.getElementById('free-employee-list').options;
        for(let i=0; i<dataList.length; i++){
            if(dataList[i].value === employeeSearch){
                let employee = JSON.parse(dataList[i].getAttribute('my-data').replace(/&quot;/g, '"'));
                sendEmployeeData(employee);
            }
        }
    }

    function getCurrentSelectedData(){
        let selectedButtons = document.querySelectorAll('button.btn-secondary');
        let departmentButton = selectedButtons[0];
        let depParts = departmentButton.id.split('-');
        let depIndex = depParts[depParts.length - 1];
        let divisionButton = selectedButtons[1];
        let departmentId = departmentButton.getAttribute('my-data');
        let divisionId = 0;
        let divIndex = null;
        if(divisionButton !== undefined){
            let divParts = divisionButton.id.split('-');
            divIndex = divParts[divParts.length - 1];
            divisionId = divisionButton.getAttribute('my-data');
        }
        return {
            departmentIndex: depIndex,
            department: departmentId,
            divisionIndex: divIndex,
            division: divisionId
        }
    }

    function pinOut(buttonId){
        let parts = buttonId.split('-');
        let id = parts[parts.length -1];
        $.ajax({
            url:'/api/pinout/employee',
            type:'get',
            data:{
                query:id
            },
            success: function (response){

            }
        });
    }

    function editEmployee(id){
        console.log(id);
    }

    function employeeAppend(employee){
        if(admin){
            $('#guide-card-col').append(
                '<div class="card mx-1 my-3">' +
                '<div class="row rounded-4 shadow m-2">' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 ps-2"><b>' + employee.fullName + '</b></p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 text-center">' + employee.position + '</p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 text-center">' + employee.email + '</p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col-2 m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1 d-flex">' +
                '           <p class="m-0 p-0 pe-2 text-center ms-auto">телефон: ' + employee.phone + '</p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col border-start d-flex">\n' +
                '       <div class="btn-group m-auto" role="group" aria-label="Basic outlined example">\n' +
                '           <button type="button" id="pin-out-' + employee.id + '" class="btn btn-outline-secondary" onclick="pinOut(this.id)"><i class="bi bi-pin-angle"></i></button>\n' +
                '           <button type="button" id="edit-' + employee.id + '" class="btn btn-outline-secondary" onclick="editEmployee(this.id)"><i class="bi bi-pencil"></i></button>\n' +
                '       </div>\n' +
                '   </div>' +
                '</div>' +
                '</div>'
            );
        }else{
            $('#guide-card-col').append(
                '<div class="card mx-1 my-3">' +
                '<div class="row rounded-4 shadow m-2">' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 ps-2"><b>' + employee.fullName + '</b></p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 text-center">' + employee.position + '</p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1">' +
                '           <p class="m-0 p-0 text-center">' + employee.email + '</p>' +
                '       </div>' +
                '   </div>' +
                '   <div class="col-2 m-0 p-1 my-auto">' +
                '       <div class="m-0 p-1 d-flex">' +
                '           <p class="m-0 p-0 pe-2 text-center ms-auto">телефон: ' + employee.phone + '</p>' +
                '       </div>' +
                '   </div>' +
                '</div>' +
                '</div>'
            );
        }
    }
</script>