<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col py-5">
            <form th:method="POST" th:action="@{/login}">
                <div class="mb-3">
                    <label for="username" class="form-label">Электронная почта</label>
                    <input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Не сообщайте вашу электронную почту и пароль никому.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="show-password">
                    <label class="form-check-label" for="show-password">Показать пароль</label>
                    <script>
                        $('body').on('click', '#show-password', function () {
                            if ($(this).is(':checked')) {
                                $('#password').attr('type', 'text');
                            } else {
                                $('#password').attr('type', 'password');
                            }
                        });
                    </script>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
        <div class="col"></div>
        <!--<div class="col-3"></div>
        <div class="col-6 text-center">
            <form th:method="POST" th:action="@{/login}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="username">электронная почта: </label><br>
                        <input placeholder="somebody@example.ru" type="email" name="username" id="username">
                    </li>
                    <li class="list-group-item">
                        <label for="password">пароль: </label><br>
                        <input placeholder="пароль" type="password" name="password" id="password">
                    </li>
                    <li class="list-group-item">
                        <br>
                        <input type="submit" value="вход">
                    </li>
                </ul>
            </form>
        </div>
        <div class="col-3"></div>-->
    </div>
</div>

<!--
<div>
  <form th:method="POST" th:action="@{/login}">
    <ul>
      <li>
        <label for="username">электронная почта: </label><br>
        <input placeholder="somebody@example.ru" type="email" name="username" id="username">
      </li>
      <li>
        <label for="password">пароль: </label><br>
        <input placeholder="пароль" type="password" name="password" id="password">
      </li>
      <li>
        <br>
        <input type="submit" value="вход">
      </li>
    </ul>
  </form>
</div>-->
