<div style="display: inline-block; border: solid 1px black; margin: 1vh">
    <script th:inline="javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var implementers = [[${implementers}]]
            var dataArray = new Array();
            dataArray[0] = ['Имя исполнителя','Количество выполненных заявок'];
            for(var i=0; i<implementers.length; i++){
                dataArray[i+1] = [implementers[i].fullName,implementers[i].taskIds.length]
            }
            var data = google.visualization.arrayToDataTable(dataArray,false);

            var options = {
                title: 'Процент выполненных работ сотрудниками',
                is3D: false,
                pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('statistics1'));
            chart.draw(data, options);
        }
    </script>
    <div id="statistics1" style="width: 500px; height: 500px"></div>
</div>

<div style="display: inline-block; border: solid 1px black; margin: 1vh">
    <script th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let chartTitle = [[${categoryTitle}]];
            let tableTitle = [];
            tableTitle[0] = 'Дата';
            for(let i=0; i<chartTitle.length; i++){
                tableTitle[i+1] = chartTitle[i].name;
            }
            let chartList = [[${categoryChart}]];
            let dataArray = [];
            dataArray[0] = tableTitle;
            for(let i=0; i<chartList.length; i++){
                let arrayStroke = [];
                arrayStroke[0] = chartList[i].localDate;
                let tasks = chartList[i].taskOnTrouble;
                for(let j=0; j<tasks.length; j++){
                    arrayStroke[j+1] = tasks[j];
                }
                dataArray[i+1] = arrayStroke;
            }
            let data = google.visualization.arrayToDataTable(dataArray, false);

            let options = {
                title: 'Выполненные заявки по датам',
                vAxis: {title: 'Всего выполнено заявок'},
                isStacked: true
            };

            let chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
    <div id="chart_div" style="width: 1200px; height: 500px;"></div>
</div>

<div style="display: inline-block; border: solid 1px black; margin: 1vh">
    <script th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            let chartTitle = [[${troubleTitle}]];
            let tableTitle = [];
            tableTitle[0] = 'Дата';
            for(let i=0; i<chartTitle.length; i++){
                tableTitle[i+1] = chartTitle[i].name;
            }
            let chartList = [[${troubleChart}]];
            let dataArray = [];
            dataArray[0] = tableTitle;
            for(let i=0; i<chartList.length; i++){
                let arrayStroke = [];
                arrayStroke[0] = chartList[i].localDate;
                let tasks = chartList[i].taskOnTrouble;
                for(let j=0; j<tasks.length; j++){
                    arrayStroke[j+1] = tasks[j];
                }
                dataArray[i+1] = arrayStroke;
            }
            let data = google.visualization.arrayToDataTable(dataArray, false);

            var options = {
                title : 'Детализация',
                vAxis: {title: 'Количество выполненных заявок'},
                hAxis: {title: 'Даты'},
                seriesType: 'bars',
                /*series: {5: {type: 'line'}}*/
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
        }
    </script>
    <div id="chart_div2" style="width: 1726px; height: 500px;"></div>
</div>