<div>
  <form th:method="POST" th:action="@{/admin/trouble/update/{id}(id=${ticket.getId()})}" th:object="${ticket}">
    <ul>
      <li>
        <label for="name">name: </label><br>
        <input type="text" id="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
      </li>
      <li>
        <label for="description">description: </label><br>
        <textarea type="text" id="description" th:field="*{description}" cols="50" rows="10"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></span>
      </li>
      <li>
        <select th:field="*{categoryId}">
          <option th:each="category : ${categories}" th:text="${category.getName()}" th:value="${category.getId()}"></option>
        </select>
      </li>
      <li><input type="submit" value="update"></li>
    </ul>
  </form>
</div>