<div>
    <form th:method="POST" th:action="@{/admin/user/update/{id}(id=${implementer.getId()})}" th:object="${implementer}">
        <ul>
            <li>
                <label for="firstname">firstname: </label>
                <input type="text" id="firstname" th:field="*{firstname}">
                <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" style="color: red"></span>
            </li>
            <li>
                <label for="middlename">middle name: </label>
                <input type="text" id="middlename" th:field="*{middleName}">
                <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" style="color: red"></span>
            </li>
            <li>
                <label for="lastname">lastname: </label>
                <input type="text" id="lastname" th:field="*{lastname}">
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" style="color: red"></span>
            </li>
            <li>
                <label for="position">office position: </label>
                <input type="text" id="position" th:field="*{officePosition}">
                <span th:if="${#fields.hasErrors('officePosition')}" th:errors="*{officePosition}" style="color: red"></span>
            </li>
            <li>
                <select th:field="*{roleId}">
                    <option th:each="r : ${roles}" th:text="${r.getName()}" th:value="${r.getId()}"></option>
                </select>
            </li>
            <li>
                <input type="submit" value="update">
            </li>
        </ul>
    </form>
</div>