<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group py-5">
                <li class="list-group-item active text-center" aria-current="true"><h3>Пользователи системы</h3></li>
                <li class="list-group-item" th:each="user : ${users}">
                    <div class="row row-cols-4">
                        <div class="col">
                            <p th:text="${user.getFullName()}"></p>
                        </div>
                        <div class="col">
                            <p th:text="${user.getRole().getTitle()}"></p>
                        </div>
                        <div class="col">
                            <p th:text="${user.getDepartmentRole().getTitle()}"></p>
                        </div>
                        <div class="col">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary disabled">Просмотр</a>
                                <a class="btn btn-outline-primary" th:href="@{/admin/user/edit(id=${user.id})}">Редактор</a>
                                <a class="btn btn-outline-primary disabled">Удалить</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form th:method="POST" th:action="@{/admin/user/add}" th:object="${implementer}">
                <ul class="list-group">
                    <li class="list-group-item active text-center" aria-current="true">
                        <h3>Регистрация нового пользователя</h3>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="e-mail">Электронная почта</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="e-mail" th:field="*{email}">
                        </div>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="pass">Пароль</span>
                            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="pass" th:field="*{password}">
                        </div>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="pass2">Подтвердить пароль</span>
                            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="pass2" th:field="*{confirmPassword}">
                        </div>
                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="name">Имя</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="name" th:field="*{firstname}">
                        </div>
                        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="middl">Отчество</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="middl" th:field="*{middleName}">
                        </div>
                        <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="last">Фамилия</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="last" th:field="*{lastname}">
                        </div>
                        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="office">Должность</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="office" th:field="*{officePosition}">
                        </div>
                        <span th:if="${#fields.hasErrors('officePosition')}" th:errors="*{officePosition}" style="color: red"></span>
                    </li>
                    <li class="list-group-item">
                        <select class="form-select" th:field="*{role}">
                            <option th:each="r : ${roles}" th:text="${r.getTitle()}" th:value="${r}"></option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-select" th:field="*{departmentRole}">
                            <option th:each="dr : ${departmentRoles}" th:text="${dr.getTitle()}" th:value="${dr}"></option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <input class="btn btn-primary" type="submit" value="Зарегистрировать">
                    </li>
                </ul>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>


<!--
<div>
    <ul>
        <li><a th:href="@{/admin/user/reg}">зарегистрировать пользователя</a></li>
    </ul>
    <form th:method="GET" id="form">
        <select id="select" name="select">
            <option th:each="user : ${users}" th:text="${user.getFullName()}" th:value="${user.getId()}"></option>
        </select>
        <input type="submit" value="edit" onclick="editUser()">
        <input type="submit" value="delete" onclick="deleteUser()" disabled>
    </form>
    <script>
        function editUser(){
            document.getElementById('form').setAttribute('action','/admin/user/edit')
        }
        function deleteUser(){
            document.getElementById('form').setAttribute('action','/admin/user/delete')
        }
    </script>
</div>-->
