.img-bg {
    background-image: url('/img/logo_main.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    /*position: relative;*/ /* добавляем position: relative, чтобы z-index работал */
    /*z-index: -1;*/ /* устанавливаем z-index для фонового изображения */
}

/* устанавливаем z-index для элементов внутри контейнера */
#guide-card-col .card {
    position: relative; /* добавляем position: relative, чтобы z-index работал */
    z-index: 1; /* устанавливаем z-index для элементов внутри контейнера */
}

.blur {
    filter: blur(4px);
    transition: filter 0.3s;
    user-select: none;
    cursor: pointer;
}

.blur:hover {
    filter: none;
}
