<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${title}">title</title>

        <script src="/fw/jquery/dist/jquery.js"></script>
        <script src="https://www.google.com/jsapi"></script>

        <link rel="stylesheet" href="/css/main.css">
        <link href="/fw/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/fw/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');
            body{
                font-family: "Finlandica", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
        </style>
        <script>
            let colorSet = [
                '#983232', '#CC623A', '#CC9F51', '#CCCC5C',
                '#A0CC72', '#87CC55', '#6DCC6D', '#62CC62',
                '#55CC9F', '#72CCB5', '#66CCCC', '#5CB2CC',
                '#9bc0d1'
            ]
        </script>
    </head>

    <body>
        <header th:insert="~{block/header}"></header>
        <nav th:insert="~{block/navbar}"></nav>
        <div th:insert="~{content/home-page}" th:if="${index} == 'home-page'"></div>
        <div th:insert="~{content/login-page}" th:if="${index} == 'login-page'"></div>
        <div th:insert="~{content/users-page}" th:if="${index} == 'users-page'"></div>
        <div th:insert="~{content/user-edit-page}" th:if="${index} == 'user-edit-page'"></div>
        <div th:insert="~{content/profile-page}" th:if="${index} == 'profile-page'"></div>
        <div th:insert="~{content/works-page}" th:if="${index} == 'works-page'"></div>
        <div th:insert="~{content/categories-page}" th:if="${index} == 'categories-page'"></div>
        <div th:insert="~{content/category-reg-page}" th:if="${index} == 'category-reg-page'"></div>
        <div th:insert="~{content/category-edit-page}" th:if="${index} == 'category-edit-page'"></div>
        <div th:insert="~{content/troubles-page}" th:if="${index} == 'troubles-page'"></div>
        <div th:insert="~{content/trouble-reg-page}" th:if="${index} == 'trouble-reg-page'"></div>
        <div th:insert="~{content/trouble-edit-page}" th:if="${index} == 'trouble-edit-page'"></div>
        <div th:insert="~{content/task-page}" th:if="${index} == 'task-page'"></div>
        <div th:insert="~{content/task-info-page}" th:if="${index} == 'task-info-page'"></div>
        <div th:insert="~{content/task-graph-page}" th:if="${index} == 'task-graph-page'"></div>
        <div th:insert="~{content/task-stat-page}" th:if="${index} == 'task-stat-page'"></div>
        <div th:insert="~{content/task-completed-page}" th:if="${index} == 'task-completed-page'"></div>
        <div th:insert="~{content/task-edit-page}" th:if="${index} == 'task-edit-page'"></div>
        <div th:insert="~{content/guide-page}" th:if="${index} == 'guide-page'"></div>
        <div th:insert="~{content/structures-page}" th:if="${index} == 'structures-page'"></div>
        <div th:insert="~{content/structure-add-page}" th:if="${index} == 'structure-add-page'"></div>
        <div th:insert="~{content/employees-page}" th:if="${index} == 'employees-page'"></div>
        <div th:insert="~{content/employee-add-page}" th:if="${index} == 'employee-add-page'"></div>
        <div th:insert="~{content/divisions-page}" th:if="${index} == 'divisions-page'"></div>
        <div th:insert="~{content/division-add-page}" th:if="${index} == 'division-add-page'"></div>
        <div th:insert="~{content/structure-edit-page}" th:if="${index} == 'structure-edit-page'"></div>
        <div th:insert="~{content/division-edit-page}" th:if="${index} == 'division-edit-page'"></div>
        <div th:insert="~{content/employee-edit-page}" th:if="${index} == 'employee-edit-page'"></div>
        <footer th:insert="~{block/footer}"></footer>

        <script src="/fw/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="/fw/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>