<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}">title</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
    </head>

    <body>
        <header th:insert="~{block/header}"></header>
        <nav th:insert="~{block/navbar}"></nav>
        <div th:insert="~{content/home-page}" th:if="${index} == 'home-page'"></div>
        <div th:insert="~{content/login-page}" th:if="${index} == 'login-page'"></div>
        <div th:insert="~{content/admin-page}" th:if="${index} == 'admin-page'"></div>
        <div th:insert="~{content/role-reg-page}" th:if="${index} == 'role-reg-page'"></div>
        <div th:insert="~{content/user-reg-page}" th:if="${index} == 'user-reg-page'"></div>
        <div th:insert="~{content/category-reg-page}" th:if="${index} == 'category-reg-page'"></div>
        <div th:insert="~{content/trouble-reg-page}" th:if="${index} == 'trouble-reg-page'"></div>
        <div th:insert="~{content/task-page}" th:if="${index} == 'task-page'"></div>
        <div th:insert="~{content/task-graph-page}" th:if="${index} == 'task-graph-page'"></div>
        <div th:insert="~{content/task-stat-page}" th:if="${index} == 'task-stat-page'"></div>
        <div th:insert="~{content/task-completed-page}" th:if="${index} == 'task-completed-page'"></div>
        <footer th:insert="~{block/footer}"></footer>
    </body>
</html>