<!--
<div>
    <hr>
    <h4>Разработано ФГБУ "ФЦПСР"</h4>
</div>-->

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 ФГБУ "ФЦПСР"</p>

        <a th:href="@{/}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <i class="bi bi-file-lock2" style="font-size: 32px"></i>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
        </ul>
    </footer>
</div>